<html>
<head>
    <%- partial('partials/_headMeta.ejs') %>
</head>

<body class="index">

<%- partial('partials/_header.ejs') %>
<%- partial('partials/shapes/_triangleDown.ejs') %>
<main>
<%- yield %>
</main>

<%- partial('partials/_footer.ejs') %>

</body>
</html>
