<!DOCTYPE html>
<html lang="en">
<head>
  <title><%- name %></title>
  <link rel="canonical" href="<%-sitemapRoot%>" />
  <%- partial('partials/_head.ejs') %>
</head>
<body class="index">
<%- partial('partials/_header.ejs') %>
<main><%- yield %></main>
<%- partial('partials/_footer.ejs') %>

</body>
</html>
