<section id="footer">
  <header>
    <h2>Copyright (C) <%- new Date().getFullYear() %> <a href="<%- url %>"><%- name %></a></h2>
  </header>
  <footer>
    <ul>
      <li><a href="<%- githubUrl %>" target="_blank"><i class="demo-icon icon-github-circled"></i></a></li>
      <li><a href="<%- twitterUrl %>" target="_blank"><i class="demo-icon icon-twitter"></i></a></li>
    </ul>
  </footer>
</section>


<%- partial('../app.less') %>
<%- partial('_ga.ejs') %>
<%- partial('_html5shiv.ejs') %>
