<!DOCTYPE html>
<html lang="en">
<head>
  <title><%- current.source %></title>
  <%- partial('../partials/_head.ejs') %>
</head>

<body class="page">

<%- partial('../partials/_header.ejs') %>

<section class="container" id="article">
  <header>
    <% var data = public.pages._data[current.source]; if(data && data.github){ %>
    <a class="project-link" title="View project on Github" href="<%- data.github %>" target="_blank"><i
        class="fa fa-github"></i></a>
    <% } %>
  </header>
  <footer>
    <%- yield %>
  </footer>
</section>

<%- partial('../partials/_footer.ejs') %>

</body>
</html>
