<% var title = current.source.replace(/\w*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();}).replace(/-/g,' '); %>
<!DOCTYPE html>
<html lang="en">
<head>
  <title><%- title %></title>
  <link rel="canonical" href="<%-sitemapRoot%>pages/<%-current.source%>.html" />
  <%- partial('../partials/_head.ejs') %>
</head>

<body class="page">

<%- partial('../partials/_header.ejs') %>

<section class="container" id="article">
  <header>
    <% var data = public.pages._data[current.source]; if(data && data.github){ %>
    <a class="project-link" title="View project on Github" href="<%- data.github %>" target="_blank"><i
        class="fa fa-github"></i></a>
    <% } %>
  </header>
  <footer>
    <%- yield %>
  </footer>
</section>

<%- partial('../partials/_footer.ejs') %>

</body>
</html>
