<html>
<head>
    <%- partial('../partials/_headMeta.ejs') %>
</head>

<body class="article">

<%- partial('../partials/_header.ejs') %>

<%- partial('../partials/shapes/_triangleDown.ejs') %>
<section class="container" id="article">
    <%- yield %>
</section>

<section class="container" id="comments">
    <%- partial('../partials/_disqus.ejs') %>
</section>

<%- partial('../partials/_footer.ejs') %>

</body>
</html>
