<!DOCTYPE html>
<html lang="en">
<head>
  <title>jd - <%- current.source %></title>
  <%- partial('../partials/_head.ejs') %>
</head>

<body class="article">

<%- partial('../partials/_header.ejs') %>

<section class="container" id="article">
  <%- yield %>
</section>

<section class="container" id="comments">
  <%- partial('../partials/_disqus.ejs') %>
</section>

<%- partial('../partials/_footer.ejs') %>

</body>
</html>
