<section id="footer">
  <header>
    <h2>Copyright (C) <%- new Date().getFullYear() %> <a href="<%- url %>"><%- name %></a></h2>
  </header>
  <footer>
    <ul>
      <li><a href="<%- githubUrl %>" target="_blank"><i class="fa fa-github"></i></a></li>
      <li><a href="<%- twitterUrl %>" target="_blank"><i class="fa fa-twitter"></i></a></li>
    </ul>
  </footer>
</section>

<%- partial('_ga.ejs') %>
